.faucet-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.faucet-container h2 {
  color: #007bff;
  font-size: 21px;
  margin-bottom: 20px;
}

.wallet-input {
  width: 400px;
  height: 20px; /* Thay đổi chiều cao thành giá trị mong muốn */
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}

.request-button {
  padding: 10px 20px; /* Thay đổi giá trị để tạo cùng chiều cao với .wallet-input */
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
}

  
  .request-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .loading {
    margin-top: 10px;
  }
  
  .toast {
    padding: 10px;
    border-radius: 3px;    
    color: #fff;
    font-weight: bold;
    text-align: center;
  }
  
  .toast.success {
    background-color: #4caf50;
  }
  
  .toast.error {
    background-color: #f44336;
  }

  .toast.invalid {
    background-color: #007bff;
  }
  
  